<div class="books">
  <mat-tab-group>
    <mat-tab label="Список книг">
        <bkmrk-all-books [Books]="Books$ | async" [IsAllBooksUpload]="IsAllBooksUpload" (Search)="search($event)"
                         (UploadMore)="uploadMoreBooks()" (SwitchFavorite)="updateFavoriteBook($event)">
            <ng-container *ngIf="IsLoadingBooks$ | async">
                <mat-spinner></mat-spinner>
            </ng-container>
            <ng-container *ngIf="IsErrorBooks$ | async">
                <div class="mat-display-1">Ошибка загрузки списка</div>
            </ng-container>
        </bkmrk-all-books>
    </mat-tab>
    <mat-tab label="Любимые книги">
        <bkmrk-favorite-books></bkmrk-favorite-books>
    </mat-tab>
  </mat-tab-group>
</div>
