<div class="books">
  <mat-tab-group>
    <mat-tab label="Список книг">
      <bkmrk-all-books
        [Books]="Books$ | async"
        [IsAllBooksUpload]="IsAllBooksUpload$ | async"
        (Search)="search($event)"
        (UploadMore)="uploadMoreBooks()"
        (SwitchFavorite)="updateFavoriteBook($event)"
      >
        <ng-container *ngTemplateOutlet="status"></ng-container>
      </bkmrk-all-books>
    </mat-tab>
    <mat-tab label="Любимые книги">
      <bkmrk-all-books
        [Books]="FavoriteBooks$ | async"
        (Search)="search($event)"
        (SwitchFavorite)="updateFavoriteBook($event)"
      ></bkmrk-all-books>
    </mat-tab>
  </mat-tab-group>
</div>

<!--Статус загрузки книг-->
<ng-template #status>
  <mat-spinner *ngIf="IsLoadingBooks$ | async"></mat-spinner>
  <div class="mat-display-1" *ngIf="IsErrorBooks$ | async">Ошибка загрузки списка</div>
</ng-template>
