<div class="books">
  <mat-tab-group>
    <mat-tab label="Список книг">
      <bkmrk-books-list-with-search
        [Books]="Books$ | async"
        [IsAllBooksUpload]="IsAllBooksUpload$ | async"
        [IsLoading]="IsLoadingBooks$ | async"
        (UploadMore)="uploadMoreBooks()"
        (SwitchFavorite)="updateFavoriteBook($event)"
      >
        <ng-container *ngTemplateOutlet="status"></ng-container>
      </bkmrk-books-list-with-search>
    </mat-tab>
    <mat-tab label="Любимые книги">
      <bkmrk-books-list-with-search
        [Books]="FavoriteBooks$ | async"
        (SwitchFavorite)="updateFavoriteBook($event)"
      ></bkmrk-books-list-with-search>
    </mat-tab>
  </mat-tab-group>
</div>

<!--Статус загрузки книг-->
<ng-template #status>
  <mat-spinner *ngIf="IsLoadingBooks$ | async"></mat-spinner>
  <div class="mat-display-1" *ngIf="IsErrorBooks$ | async">Ошибка загрузки списка</div>
</ng-template>
